In [7]:
# Setup

import pandas as pd
from pathlib import Path
import hvplot.pandas
import requests
import json
from pprint import pprint
from config import geoapify_key

In [8]:
# Import and read files

file = Path("data/merged_df.csv")
df = pd.read_csv(file, encoding="utf-8")

In [9]:
# Geoapify API setup

latitude = []
longitude = []

for index, row in df.iterrows():

    # Set search parameters
    target_city = f"{row['City']}, {row['Country']}"

    # Base url
    base_url = f"https://api.geoapify.com/v1/geocode/search?text={target_city}&format=json&apiKey={geoapify_key}"

    # Run request and get longtitude and latitude
    response = requests.get(base_url).json()
    try:
        lat = response["results"][0]["bbox"]["lat1"]
        latitude.append(lat)
    except:
        latitude.append(None)
        
    try:
        lng = response["results"][0]["bbox"]["lon1"]
        longitude.append(lng)
    except:
        longitude.append(None)

df["Lat"] = latitude
df["Lng"] = longitude

df.head(10)

,Unnamed: 0,Company,2022_Valuation,2023_Valuation,2024_Valuation,Date Joined,Country,City,Industry,Select Investors,Overall_Growth,CAGR (%),Lat,Lng
0,0,ByteDance,140.0,225.0,225.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",85.0,26.77,39.745714,116.231297
1,1,SpaceX,127.0,137.0,150.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",23.0,8.68,29.553045,-82.109512
2,2,SHEIN,100.0,66.0,66.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",-34.0,-18.76,22.287600,113.679356
3,3,Stripe,95.0,50.0,65.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",-30.0,-17.28,37.640314,-123.173825
4,4,Canva,40.0,40.0,25.4,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",-14.6,-20.31,-33.892106,151.201846
5,5,Checkout.com,40.0,11.0,11.0,5/2/2019,United Kingdom,London,Fintech,"Tiger Global Management, Insight Partners, DST...",-29.0,-47.56,51.286760,-0.510375
6,6,Databricks,38.0,31.0,43.0,2/5/2019,United States,San Francisco,Data management & analytics,"Andreessen Horowitz, New Enterprise Associates...",5.0,6.38,37.640314,-123.173825
7,7,Revolut,33.0,33.0,33.0,4/26/2018,United Kingdom,London,Fintech,"index Ventures, DST Global, Ribbit Capital",0.0,0.00,51.286760,-0.510375
8,8,Epic Games,31.5,31.5,22.5,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",-9.0,-15.48,35.644376,-78.953797
9,9,Fanatics,27.0,31.0,31.0,6/6/2012,United States,Jacksonville,E-commerce & direct-to-consumer,"SoftBank Group, Andreessen Horowitz, Temasek H...",4.0,7.15,30.103748,-82.049390

In [10]:
df.to_csv("data/geoapify_df.csv", header=True)